################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/PhoneStore.Model/obj/Debug
/PhoneStore.CMS/bin
/PhoneStore.CMS/obj/Debug/build.force
*.dll
*.pdb
/.vs/config/applicationhost.config
*.cache
/.vs/PhoneStore/v14/.suo
*.txt
/PhoneStore.CMS/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/PhoneStore.CMS/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/PhoneStore.CMS/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.dll
